.content-home {
  width: 100%;
  height: 300px;
}

.headerColor {
  color: grey;
}

.bgColor {
  background-color: #002147;
}

.iconSize {
  width: 60px;
}

.horizontal-line {
  width: 5rem;
  height: 0.18rem;
  color: #20ea3c;
  background-color: #20ea3c;
  margin: 0;
  margin-top: 8px;
}

.btn-orange {
  background-color: orange !important;
}

.btn-orange {
  background-color: orange !important;
}

.btn-blue {
  background-color: skyblue !important;
}

.btn-size {
  min-width: 175px !important;
  width: 175px !important;
}

.text-size {
  padding-left: 1.6rem;
}

@media only screen and (max-width: 2600px) {
  .mobile-devices {
    display: none !important;
  }
  .desktop-devices {
    display: inline-flex !important;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-devices {
    display: block !important;
  }

  .desktop-devices {
    display: none !important;
  }

  .btn-size {
    min-width: 145px !important;
    width: 145px !important;
    margin-left: 30px;
  }

}

@media only screen and (max-width: 576px) {
  .mobile-devices {
    display: block !important;
  }
  .desktop-devices {
    display: none !important;
  }

  .btn-size {
    min-width: 145px !important;
    width: 145px !important;
    margin-left: 30px;
  }

}

@media only screen and (max-width: 320px) {
  .mobile-devices {
    display: block !important;
  }
  .desktop-devices {
    display: none !important;
  }

  .btn-size {
    min-width: 145px !important;
    width: 145px !important;
    margin-left: 30px;
  }
}
